<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Tracker</title>
    <style>
        * {

margin: 0px;

padding: 0px;

box-sizing: border-box;

}

.body-text {

display: flex;

font-family: "Montserrat", sans-serif;

align-items: center;

justify-content: center;

margin-top: 250px;

}

nav {

display: flex;

justify-content: space-around;

align-items: center;

min-height: 8vh;

background-color: rgb(0, 0, 0);

font-family: "Montserrat", sans-serif;

}

.heading {

color: white;

text-transform: uppercase;

letter-spacing: 5px;

font-size: 20px;

}
.heading a{
text-decoration: none;
color: white;
}

.nav-links {

display: flex;

justify-content: space-around;

width: 30%;

}

.nav-links li {

list-style: none;

} 
.nav-links a { 
color: white;

text-decoration: none;

letter-spacing: 3px;

font-weight: bold;

font-size: 14px;

padding: 14px 16px;
}
.nav-links a:hover:not(.active) {

background-color: #f58336; 

}
.Join{
justify-content: space-around;

background-color:  #ff6600;

height: 55px;

width: 150px;

border:none;

border-radius: 10px;

cursor: pointer;
}
.Join:hover{
background-color: hsl(34, 92%, 61%);
}
.Join a{
color: white;

text-decoration: none;

letter-spacing: 2px;

font-weight: bold;

font-size: 14px;

}
body{
background-color: black;
}
#attendanceTable {
width: 100%;
border-collapse: collapse;
}

#attendanceTable th,
#attendanceTable td {
border: 1px solid #fff9f9;
padding: 0.5rem;
text-align: left;
}

#attendanceTable th {
background-color: #000000;
color: white;
}
main{
color: white;
padding: 2rem;
}


    </style>
</head>
<body>
    <nav>
        <div class="heading">
            <h4><a href="/landing">FITMINDS</a></h4>
        </div>
        <ul class="nav-links">
            <li><a href="/plan">Plans</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
        <button class="Join"><a href="/Login_page">Join Us</a></button>
    </nav>
    <main>
        <h2>Attendance Tracker</h2>
        <br>
        <form id="attendanceForm" class="attend">
            <label for="memberName">Member Name:</label>
            <input type="text" id="memberName" name="memberName" required>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
            <button type="submit">Submit</button>
        </form>
        <br>
        <br>
        <h3>Attendance Records</h3>
        <br>
        <table id="attendanceTable">
            <thead>
                <tr>
                    <th>Member Name</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </main>
    <script src="/js/attendence.js"></script>
</body>
</html>